{% extends "base.html" %}

{% load staticfiles i18n %}
{% load url from future %}

{% block head_title %}Dashboard{% endblock %}
{% block header_title %}Dashboard{% endblock %}
{% block breadcrumb_title %}Dashboard{% endblock %}
{% block dashboard_menu_active %}nav-active{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/chartist/chartist.css' %}">
{% endblock %}

{% block notification_badge_count %}{{ notifications|length }}{% endblock %}
{% block notification_label_count %}{{ notifications|length }}{% endblock %}
{% block notification_list %}
    {% if not notifications|length %}
    <li>
    <a href="#" class="clearfix">
      <div class="image">
        <i class="fa fa-thumbs-up bg-success"></i>
      </div>
      <span class="title">No notification available.</span>
    </a>
    </li>
    {% endif %}
    {% for note in notifications %}
    <li>
    <a href="#" class="clearfix">
      <div class="image">
        {% if 'Warning' in note.Loglevel %}
        <i class="fa fa-warning bg-warning"></i>
        {% elif 'Error' in note.Loglevel %}
        <i class="fa fa-minus-circle bg-danger"></i>
        {% elif "Info" in note.Loglevel %}
        <i class="fa fa-info-circle bg-success"></i>
        {% endif %}
      </div>
      <span class="title">{{ note.Message }}</span>
      <span class="message">{{ note.Date }}</span>
    </a>
    </li>
    {% endfor %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12">
        <section class="panel">
            <header class="panel-heading bg-white">
                <div class="panel-heading-icon bg-primary mt-sm">
                    <i class="fa fa-heartbeat"></i>
                    <h3 style="font-weight: bold; text-transform: uppercase;  color:#777; width: 200px; margin-left: -50px;">Current Time</h3>
                </div>
            </header>
            <div class="panel-body">
                <div id="mytime" class="headline text-primary">{{ overall_status }}
                </div>
                <div class="subline">Monitoring medication in progress.
                </div>
                <div class="subtext">
                </div>
                <div class="summary-footer">
                    <span id='main_last_datetime'class="datetime text-muted">4:27 PM - 15 Jul 2015</span>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-lg-6 col-xl-offset-3 col-xl-3">
        <section class="panel panel-featured-left panel-featured-tertiary">
            <div class="panel-body">
                <div class="widget-summary">
                    <div class="widget-summary-col widget-summary-col-icon">
                        <div class="summary-icon bg-tertiary">
                            <i class="fa fa-medkit"></i>
                        </div>
                    </div>
                    <div class="widget-summary-col">
                        <div class="summary">
                            <h4 class="title">Medication Timing</h4>
                            <div class="info">
                                <strong class="amount">10:00, 14:00</strong>
                                <span class="text-primary">(2 timings)</span>
                            </div>
                        </div>
                        <div class="summary-footer">
<!--                             <a href="#modalServices" class="modal-services text-muted text-uppercase">(View All)</a> -->
                            <!-- Modal Form -->
                            <div id="modalServices" class="modal-block modal-header-color modal-block-info mfp-hide">
                                <section class="panel">
                                    <header class="panel-heading">
                                        <h2 class="panel-title">Services Overview</h2>
                                    </header>
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-hover mb-none">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Name</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for service in services.services %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>{{ service.name }}</td>
                                                        <td>{{ service.status }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <footer class="panel-footer">
                                        <div class="row">
                                            <div class="col-md-12 text-right">
                                                <button class="btn btn-info modal-dismiss">Close</button>
                                            </div>
                                        </div>
                                    </footer>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-3">
        <section class="panel panel-featured-left panel-featured-tertiary">
            <div class="panel-body">
                <div class="widget-summary">
                    <div class="widget-summary-col widget-summary-col-icon">
                        <div class="summary-icon bg-tertiary">
                            <i class="fa fa-clock-o"></i>
                        </div>
                    </div>
                    <div class="widget-summary-col">
                        <div class="summary">
                            <h4 class="title">Alert Threshold</h4>
                            <div class="info">
                                <strong class="amount">2 hours</strong>
                            </div>
                        </div>
                        <div class="summary-footer">
<!--                             <a href="#modalHosts"class="modal-hosts text-muted text-uppercase">(View All)</a> -->
                            <div id="modalHosts" class="modal-block modal-header-color modal-block-info mfp-hide">
                                <section class="panel">
                                    <header class="panel-heading">
                                        <h2 class="panel-title">Hosts Overview</h2>
                                    </header>
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-hover mb-none">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Name</th>
                                                        <th>IP</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for host in hosts.hosts %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>{{ host.name }}</td>
                                                        <td>{{ host.IP }}</td>
                                                        <td>{{ host.status }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <footer class="panel-footer">
                                        <div class="row">
                                            <div class="col-md-12 text-right">
                                                <button class="btn btn-info modal-dismiss">Close</button>
                                            </div>
                                        </div>
                                    </footer>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                    <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                </div>

                <h2 class="panel-title">Medication Adherence: Medication Intake </h2>
            </header>
            <div class="panel-body">
                <div id="ChartistLineScatterDiagramWithResponsiveSettings" class="ct-chart ct-perfect-fourth ct-golden-section"></div>

                <!-- See: assets/javascripts/ui-elements/examples.charts.js for the example code. -->
            </div>
        </section>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $('.modal-with-form').magnificPopup({
        type: 'inline',
        preloader: false,
        focus: '#name',
        modal: true,

        // When elemened is focused, some mobile browsers in some cases zoom in
        // It looks not nice, so we disable it:
        callbacks: {
            beforeOpen: function() {
                if($(window).width() < 700) {
                    this.st.focus = false;
                } else {
                    this.st.focus = '#name';
                }
            }
        }
    });


    $(window).bind("load", function() { 

        updateTime();
        updateDateTime();

        function updateTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('mytime').innerHTML =
            h + ":" + m + ":" + s;
            var t = setTimeout(updateTime, 500);
        }

        function updateDateTime() {
            var currentdate = new Date(); 
            var datetime = "Last Sync: " + currentdate.getDate() + "/"
                            + (currentdate.getMonth()+1)  + "/" 
                            + currentdate.getFullYear() + " @ "  
                            + currentdate.getHours() + ":"  
                            + currentdate.getMinutes() + ":" 
                            + currentdate.getSeconds();
            document.getElementById('main_last_datetime').innerHTML = datetime;
            var t = setTimeout(updateDateTime, 1000);
        }
 
        function checkTime(i) {
            if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
            return i;
        }
    });
</script>
        <!-- Specific Page Vendor -->
        <script src="{% static 'js/chartist/chartist.js' %}"></script>
        <script src="{% static 'js/dashboard/examples.charts.js' %}"></script>
{% endblock %}
